.box-average {
    color: var(--color-white);

    .text-in-box {
        max-width: 200px;
        left: 22%;

        @media (min-width: 376px) and (max-width: 481px) {
            left: 33%;
        }

        @media (min-width: 320px) and (max-width: 375px) {
            left: 36%;
        }

        h2 {
            color: inherit;
            font-weight: var(--font-weight-box-headings-average);
            font-size: var(--font-size-box-headings-average);
        }
    
        p {
            color: inherit;
            font: var(--font-weight-box-average) var(--font-size-box-average) var(--font-sans-serif-light);
            padding-bottom: 196px;

            @media (min-width: 376px) and (max-width: 481px) {
                padding-bottom: 100px;
            }

            @media (min-width: 320px) and (max-width: 375px) {
                padding-bottom: 100px;
            }
        }
    }
}
