.box-featured {
    width: 1015px;
    height: 510px;
    color: var(--color-white);
    background-color: var(--color-grey);

    @media (min-width: 376px) and (max-width: 481px) {
        width: 346px;
        height: 174px;
    }

    @media (min-width: 320px) and (max-width: 375px) {
        width: 310px;
        height: 150px;
    }

    .text-in-box {
        max-width: 310px;
        left: 3%;

        h1 {
            color: inherit;
            font-weight: var(--font-weight-box-headings-featured);
            font-size: var(--font-size-box-headings-featured);
        }

        p {
            color: inherit;
            font: var(--font-weight-box-featured) var(--font-size-box-featured) var(--font-sans-serif-light);
        }
    }
}
