.box-small {

    .employees-in-company {
        position: absolute;
        top: 35px;
        left: 50px;
        width: 165px;
        text-align: center;
        color: var(--color-yellow);
        font-weight: var(--font-weight-text-first-child);
        font-size: var(--font-size-text-first-child);
        z-index: 100;

        p {
            padding-bottom: 145px;
        }

        .text-sound {
            padding-bottom: 102px;
        }
        
        h3 {
            padding-bottom: 120px;
            color: var(--color-white);
            font-weight: var(--font-weight-headings-box);
            font-size: var(--font-size-headings-box);
        }
    }

    img {
        background-color: var(--color-black);
        opacity: 0.7;
        z-index: 1;
    }
}
