.box-featured {
    color: var(--color-white);

    .text-in-box {
        max-width: 310px;
        left: 19%;

        h1 {
            color: inherit;
            font-weight: var(--font-weight-box-headings-featured);
            font-size: var(--font-size-box-headings-featured);
        }

        p {
            color: inherit;
            font: var(--font-weight-box-featured) var(--font-size-box-featured) var(--font-sans-serif-light);
            margin-bottom: 44px;

            @media (min-width: 376px) and (max-width: 481px) {
                margin-bottom: 25px;
            }

            @media (min-width: 320px) and (max-width: 375px) {
                margin-bottom: 20px;
            }
        }
    }
}
