.box {
    position: relative;

    .text-in-box {
        position: absolute;
        top: 47%;
        left: 20%;
        transform: translate(-50%,-50%);
        z-index: 100;

        @media (min-width: 376px) and (max-width: 481px) {
            left: 36%;
        }

        p {
            padding-top: 25px;

            &:first-child {
                color: var(--color-yellow);
                font-weight: var(--font-weight-text-first-child);
                font-size: var(--font-size-text-first-child);
                padding-bottom: 0;
            }

            @media (min-width: 376px) and (max-width: 481px) {
                padding-top: 10px;
            }
        }
    }

    .link {
        padding: 9px;
        color: var(--color-white);
        font-weight: var(--font-weight-box-link);
        font-size: var(--font-size-box-link);
        border: 3px solid var(--color-yellow);
        transition: linear 250ms;

        &:hover,
        &:active {
            color: var(--color-grey-black);
            background-color: var(--color-yellow);
        }
    }
}
