.camera-in-box {
    
    .text-in-box {
        width: 214px;
        top: 47%;
        left: 34%;
        color: var(--color-white);

        @media (min-width: 376px) and (max-width: 481px) {
            left: 35%;
        }

        @media (min-width: 320px) and (max-width: 375px) {
            left: 39%;
        }

        h3 {
            color: inherit;
            font-weight: var(--font-weight-headings-box);
            font-size: var(--font-size-headings-box);
        }

        p {
            font: var(--font-weight-camera-box) var(--font-size-camera-box) var(--font-sans-serif-light);
            padding-bottom: 187px;

            @media (min-width: 376px) and (max-width: 481px) {
                padding-bottom: 100px;
            }

            @media (min-width: 320px) and (max-width: 375px) {
                padding-bottom: 100px;
            }
        }
    }
}
