.form-box {
    width: 378px;
    padding: 76px 0 37px;
    background-color: var(--color-red);

    @media (min-width: 376px) and (max-width: 481px) {
        width: 346px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    @media (min-width: 320px) and (max-width: 375px) {
        width: 310px;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    
    .form-in-box {
        text-align: center;
        color: var(--color-white);
        padding-bottom: 43px;

        h2 {
            color: inherit;
            font: var(--font-weight-headings-form-box) var(--font-size-headings-form-box) var(--font-serif);
        }

        p {
            font: var(--font-weight-form-box) var(--font-size-form-box) var(--font-serif);
            padding-left: 52px;
            padding-right: 55px;
        }
    }

    .form {
        padding-left: 50px;
        padding-bottom: 32px;
        font: var(--font-weight-form) var(--font-size-form) var(--font-sans-serif);
        
        @media (min-width: 376px) and (max-width: 481px) {
            padding-left: 35px;
        }

        @media (min-width: 320px) and (max-width: 375px) {
            padding-left: 15px;
        }
        
        .feedback {
            width: 279px;
            text-align: center;
            border: 3px solid var(--color-white);
            color: var(--color-white);
            outline: none;
            background-color: transparent;
            margin-bottom: 19px;

            &::-webkit-input-placeholder {
                color: inherit;
            }
        }

        .btn-feedback {
            width: 279px;
            color: var(--color-white);
            background-color: var(--color-blue);
            border: none;
            line-height: 2.5;
            transition: linear 250ms;

            &:hover {
                color: var(--color-grey-black);
                background-color: var(--color-yellow);
            }
        }
    }

    .last-information {
        padding-left: 59px;
        padding-right: 61px;
        text-align: center;
        color: var(--color-white);
        font: var(--font-weight-last-information) var(--font-size-last-information) var(--font-sans-serif-light);
    }
}
