.header {
    font-weight: var(--font-weight-search-input);
    font-size: var(--font-size-search-input);

    .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 75px;

        @media (min-width: 376px) and (max-width: 481px) {
            justify-content: center;
        }
    }
}
