.nav-list {
    @extend %listreset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-grey);
    font: var(--font-weight-box-link) var(--font-size-box-link) var(--font-sans-serif);

    @media (min-width: 376px) and (max-width: 481px) {
        align-items: center;
    }

    @media (min-width: 320px) and (max-width: 375px) {
        align-items: center;
    }

    li {
        padding-bottom: 10px;
    }

    .nav-link {
        color: inherit;

        &:hover,
        &:active {
            color: var(--color-yellow);
        }
    }
}
