.nav {
    display: none;

    &.is-opened {
        display: block;
        position: fixed;
        top: 0;
        right: 87.9%;
        bottom: 0;
        left: 0;
        z-index: 102;
        display: flex;
        justify-content: center;
        background: var(--color-black);

        @media (min-width: 376px) and (max-width: 481px) {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        @media (min-width: 320px) and (max-width: 375px) {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
