.social-networks {

    .link-social {
        @extend %listreset;
        display: flex;

        li {
            padding-right: 23px;

            &:last-child {
                padding-right: 0;
            }

            @media (min-width: 376px) and (max-width: 481px) {
                padding-right: 10px;
            }
        }

        svg:hover,
        svg:active {
            stroke: var(--color-yellow);
            fill: var(--color-yellow);
        }
    }
}
