.icon {
    display: inline-block;
    line-height: 1;

    &-hamburger {
        position: relative;
        width: 22px;
        height: 3px;
        background-color: var(--color-grey);
        transition: transform 250ms linear;

        &:before,
        &:after {
            position: absolute;
            right: 0;
            left: 0;
            content: '';
            width: 22px;
            height: 3px;
            background-color: var(--color-grey);
            transition: transform 250ms linear;
        }

        &:before {
            top: -5px;
        }
        &:after {
            bottom: -5px;
        }

        .is-opened & {
            background-color: transparent;

            &:before {
                transform: translate(7px, -3px) rotate(49deg);
                transform-origin: left top;
            }
            &:after {
                transform: translate(0, -14px) rotate(-49deg);
                transform-origin: right bottom;
            }
        }
    }
    &-button {
        width: 22px;

        &:hover,
        &:active {
            stroke: var(--color-yellow); fill: var(--color-yellow); 
        }
    }
}
