.icon {
    display: inline-block;
    line-height: 1;

    &-hamburger {
        position: relative;
        top: -5px;
        width: 22px;
        height: 3px;
        background-color: var(--color-grey);
        transition: transform 250ms linear;

        &:hover,
        &:active {
            background-color: var(--color-yellow);
        }

        &:hover:before,
        &:active:before {
            background-color: var(--color-yellow);
        }

        &:hover:after,
        &:active:after {
            background-color: var(--color-yellow);
        }

        &:before,
        &:after {
            position: absolute;
            right: 0;
            left: 0;
            content: '';
            width: 22px;
            height: 3px;
            background-color: var(--color-grey);
            transition: transform 250ms linear;
        }

        &:before {
            top: -8px;
        }
        &:after {
            bottom: -8px;
        }

        .is-opened & {
            background-color: transparent;

            &:before {
                transform: translate(7px, 2px) rotate(49deg);
                transform-origin: left top;
            }
            &:after {
                transform: translate(0, -15px) rotate(-49deg);
                transform-origin: right bottom;
            }
        }
    }

    &-search {
        @media (min-width: 376px) and (max-width: 481px) {
            position: absolute;
            top: 80px;
        }

        @media (min-width: 320px) and (max-width: 375px) {
            position: absolute;
            top: 80px;
        }
    }
    
    svg:hover,
    svg:active {
        stroke: var(--color-yellow); 
        fill: var(--color-yellow); 
    }
}
