@import 'functions';

// Global variables

// 'rem' base value
$rem: 10px;

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 980px,
  'widescreen': 1200px,
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': (
    '(-webkit-min-device-pixel-ratio: 1.5)',
    '(min-resolution: 144dpi)',
  ),
  'retina3x': (
    '(-webkit-min-device-pixel-ratio: 2.5)',
    '(min-resolution: 240dpi)',
  ),
  'hover': (
    '(hover: hover)' '(pointer: fine)',
    '(-ms-high-contrast: none)',
    '(-ms-high-contrast: active)',
  ),
  'theme-light': 'prefers-color-scheme: light',
  'theme-dark': 'prefers-color-scheme: dark',
  'ie': (
    '(-ms-high-contrast: none)',
    '(-ms-high-contrast: active)',
  ),
);

:root {
  // Breakpoints
  --phone: #{map-get($breakpoints, 'phone')};
  --tablet: #{map-get($breakpoints, 'tablet')};
  --desktop: #{map-get($breakpoints, 'desktop')};
  --widescreen: #{map-get($breakpoints, 'widescreen')};

  // Colors
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #66689c;
  --color-grey: #898691;
  --color-yellow: #ffe18f;
  --color-pink: #ffc7b0;
  --color-navy-blue: #3e3b4a;
  --color-red: #eb7b61;
  --color-grey-black: #3d3c4a;

  // Fonts
  --font-sans-serif: 'Campton Bold', 'Helvetica Neue', Helvetica, sans-serif;
  --font-sans-serif-light: 'Campton Light', 'Helvetica Neue', Helvetica, sans-serif;
  --font-serif: 'Old Standard TT', Times, Baskerville, Georgia, serif;
  --font-serif-roman: 'Times Roman', Times, Baskerville, Georgia, serif;

  @font-face {
    font-family: 'Campton Bold';
    src: url('../../fonts/Campton-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Campton Light';
    src: url('../../fonts/Campton-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Times Roman';
    src: url('../../fonts/Times-Roman.woff') format('woff'), url('../../fonts/Times-Roman.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }

  // Font Style
  
  // header
  --font-weight-btn-text: var(--font-weight);
  --font-size-btn-text: 12px;

  --font-weight-search-input: var(--font-weight);
  --font-size-search-input: 12px;
  
  // box-featured
  --font-weight-text-first-child: var(--font-weight-headings);
  --font-size-text-first-child: 14px;

  --font-weight-box-headings-featured: var(--font-weight-headings);
  --font-size-box-headings-featured: 72px;

  --font-weight-box-featured: var(--font-weight);
  --font-size-box-featured: 36px;

  --font-weight-box-link: var(--font-weight-headings);
  --font-size-box-link: 20px;

  @media (min-width: 376px) and (max-width: 481px) {
    --font-weight-text-first-child: var(--font-weight-headings);
    --font-size-text-first-child: 14px;
  
    --font-weight-box-headings-featured: var(--font-weight-headings);
    --font-size-box-headings-featured: 26px;
  
    --font-weight-box-featured: var(--font-weight);
    --font-size-box-featured: 14px;
  
    --font-weight-box-link: var(--font-weight-headings);
    --font-size-box-link: 14px;
}

  // box-average

  --font-weight-box-headings-average: var(--font-weight-headings);
  --font-size-box-headings-average: var(--font-size-headings);

  --font-weight-box-average: var(--font-weight);
  --font-size-box-average: var(--font-size);

  @media (min-width: 376px) and (max-width: 481px) {
    --font-weight-box-headings-average: var(--font-weight-headings);
    --font-size-box-headings-average: 26px;

    --font-weight-box-average: var(--font-weight);
    --font-size-box-average: 14px;
}

  // form-box

  --font-weight-headings-form-box: var(--font-weight-headings);
  --font-size-headings-form-box: var(--font-size-headings);

  --font-weight-form-box: var(--font-weight);
  --font-size-form-box: var(--font-size);

  --font-weight-form: var(--font-weight-headings);
  --font-size-form: 20px;

  --font-weight-last-information: var(--font-weight);
  --font-size-last-information: 14px;

  // small-box and camera-in-box

  --font-weight-headings-box: 700;
  --font-size-headings-box: 36px;

  --font-weight-camera-box: 400;
  --font-size-camera-box: 20px;
  
  // footer
  
  --font-weight-footer: 400;
  --font-size-footer: 14px;

  // Variables Font Weight and Size

  --font-weight-headings: 700;
  --font-size-headings: 48px;

  --font-weight: 400;
  --font-size: 24px;

  // Body base
  --base-background-color: var(--color-navy-blue);
  --base-font-family: var(--font-sans-serif);
  --base-font-size: 1.6rem;
  --base-line-height: 1.2;
  --base-text-color: var(--color-black);
  --base-min-width: 320px;

  // Links base
  --base-link-color: var(--color-blue);

  // Buttons base
  --btn-color: var(--color-white);
  --btn-background: var(--color-blue);
  --btn-padding: 0.4em 0.7em;
  --btn-font-size: 1.6rem;
  --btn-font-family: var(--font-sans-serif);

  // Forms base
  --form-font-family: var(--font-sans-serif);
  --form-element-padding: var(--btn-padding);
  --form-element-border-color: var(--color-grey);
  --form-element-focus-border-color: var(--color-black);
  --placeholder-color: var(--color-grey);

  // Headings base
  --headings-font-family: var(--font-sans-serif);
  --headings-color: var(--base-text-color);

  // Base font styles for headings
  --headings-sizes-h1: 3rem;
  --headings-sizes-h2: 2.7rem;
  --headings-sizes-h3: 2.4rem;
  --headings-sizes-h4: 2.1rem;
  --headings-sizes-h5: 1.7rem;
  --headings-sizes-h6: 1.5rem;

  // Layout
  --container-desktop-horizontal-padding: 5px;
  --container-desktop-width: 1020px;
}
