<div class="box box-small">
    <div class="employees-in-company">
        <p>CAMERAS</p>
        <h3>Leica M</h3>
        <a class="link" href="#">
            Review
        </a>
    </div>
    <img src="./images/photography.png" alt="Photography">
</div>
<div class="box box-small">
    <div class="employees-in-company">
        <p class="text-sound">SOUND</p>
        <h3>Trobla Amplifier</h3>
        <a class="link" href="#">
            Review
        </a>
    </div>
    <img src="./images/mobile-phone.png" alt="Mobile Phone">
</div>