<div class="box box-small">
    <div class="employees-in-company">
        <div class="content-box">
            <p>CAMERAS</p>
            <h3>Leica M</h3>
        </div>
        <div class="link link-in-small-box">
            <a href="#">Review</a>
        </div>
    </div>
    <img src="./images/photography.png" alt="Photography">
</div>
<div class="box box-small">
    <div class="employees-in-company">
        <div class="content-box">
            <p class="text-small-box">SOUND</p>
            <h3>Trobla Amplifier</h3>
        </div>
        <div class="link link-in-small-box">
            <a href="#">Review</a>
        </div>
    </div>
    <img src="./images/mobile-phone.png" alt="Mobile Phone">
</div>