<div class="box form-box">
    <div class="form-in-box">
        <h2>Good Things</h2>
        <p>...</p>
        <p>come to those who sign up for our newsletter.</p>
    </div>
    <form class="form" action="">
        <input class="feedback" type="text" placeholder="Your email">
        <button class="btn btn-feedback" type="submit">
            Subscribe
        </button>
    </form>
    <p class="last-information">
        We respect your privacy and we won’t share your information.
    </p>
</div>